<h1>{{table}}</h1>
<table>
  <th>Book</th>
  <th>Author</th>
  <th>Update book</th>
  <th>Update author</th>
  {{# if items}}
    {{# each items}}
      <form action="/update_book_author/{{this.book_id}}/{{this.author_id}}" method="post">
        <tr>
          <td>
            <input type="text" value="{{this.book_name}}" readonly>
          </td>
          <td>
            <input type="text" value="{{this.author_fullname}}" readonly>
          </td>
          <td>
            <select name="book_to_update">
                {{{ list this.books 'book_id' 'book_name'}}}
            </select>
          </td>
          <td>
            <select name="author_to_update">
                {{{ list this.authors 'author_id' 'author_fullname'}}}
            </select>
          </td>
          <td><input type="submit" value="update" /></td>
        </form>
          <form action="/delete_book_author/{{this.book_id}}/{{this.author_id}}" method="post">
            <td><input type="submit" value="delete"></input></td>
          </form>
        </tr>
      {{/each}}
  {{else}}
    <h2>Nothing to show</h2>
  {{/if}}
</table>
