<h1>{{table}}</h1>

{{#each items}}
  <div class="row">
      <div class="col-lg-8">
        <form action="/update_book_author/{{this.book_id}}/{{this.author_id}}" method="post">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Book:</span>
            <input type="text" class="form-control" name="book_to_update" value="{{this.book_id}}" hidden>
            <input type="text" class="form-control" name="" value="{{this.book_name}}">
            <span class="input-group-addon" id="basic-addon1">Author:</span>
            <select class="custom-select" name="author_to_update">
              <option selected>Current: {{this.author_fullname}}</option>
              {{{ list this.authors }}}
            </select>
            <input type="submit" class="btn btn-warning" value="Update">
            <form action="/delete_book_author/{{this.book_id}}/{{this.author_id}}" method="post">
              <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
      </form>
    </div>
  </div>
{{/each}}
