<br>
{{#if admin}}
  <h2>Table: {{table}}</h2>
  <br>
  <form action="/add_type" method="post">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">New type:</span>
            <input type="text" name="name" class="form-control" style="width: 50% !important">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Insert</button>
            </span>
        </div>
      </div>
    </div>
  </form>
  <br>
  {{# if items}}
    {{# each items}}
      <form action="/update_type/{{this.type_id}}" method="post">
        <div class="row">
          <div class="col-lg-6 ">
            <div class="input-group">
              <input type="text" class="form-control" value="{{this.type_name}}" name="name_to_update">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="submit">Update</button>
              </span>
            </form>
            <form action="/delete_type/{{this.type_id}}" method="post">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">Delete</button>
              </span>
            </div>
          </div>
        </div>
      </form>
    {{/each}}
  {{else}}
    <h2>Nothing to show</h2>
  {{/if}}
{{/if}}
